# SQL Alchemy - biblioteka ORM dla Pythona

Pracując z danymi do analizy prędzej czy później natrafiamy na sytuację, w której dane na których mamy pracować będą zoorganizowane nie w pliki csv, excele - ale będą usostępnione poprzez interfejsy silnika bazodanowego. W pythonie jest wiele bibliotek zapewniających połączenie do różnych silników pochodzących od różnych dostawców oprogramowania. Ostatecznie jednak okazuje się, że potrzeba czegoś więcej niż tylko sposobu na zestawianie połączeń oraz obsługę komunikacji. Potrzeba pełnej warstwy abstrakcji izolującej komunikację z bazą danych. Narzędzia, które pokryje zapotrzebowanie na 

* Zestawienie komunikacji z bazą danych,
* Optymalizuje obsługę zapytań,
* Zapewni znośną asynchroniczność zapytań,
* Przeprowadzi mapowanie obiektów bazodanowych na struktury języka Python.

Wśród wielu dostępnych narzędzi, najczęściej wyróżnianym do tego zadania narzędziem okazuje się być pakiet SQL Alchemy

# Tworzenie połączeń do silnika bazy danych (klasyczne)

Zaprezentujmy na początek dawny sposób tworzenia połączeń do bazy danych. Wykorzystamy a nim połączenie z lokalnie zainstalowaną bazą danych MySQL pod użytkownikiem sql_alchemy_test i haśle sql, pracującej na localhost:3306

## Pakiet pyMySQL (Python 3.7)

In [1]:
import pymysql

conn = pymysql.connect(host='localhost', port=3306, user='sql_alchemy_test', passwd='sql', db='sql_alchemy_test')

cur = conn.cursor()
return_data = {}
cur.execute("SELECT * FROM USERS")
value = cur.fetchall()

cur.description

(('id', 3, None, 11, 11, 0, False),
 ('Imię', 253, None, 80, 80, 0, False),
 ('Nazwisko', 253, None, 80, 80, 0, False),
 ('Email', 253, None, 240, 240, 0, False))

In [2]:
for row in value:
    print(row)
type(value)

(1, 'Karol', 'Kowalski', 'karol.kowalski@localhost')
(2, 'Jan', 'Kowalski', 'jan.kowalski@localhost')
(3, 'Marek', 'Zegarek', 'marek.zegarek@localhost')

tuple

Dostępny jest również znacznie szerzej rozwinięty pakiet o nazwie mysql, którego kontrolę obsługi można poznać np. czytaj [to](https://www.w3schools.com/python/python_mysql_getstarted.asp). Mnie osobiście jednak nie udało się go zestawić w pracy z Python 3.7. Okazuje się chyba jeszcze nie wspierać najnowszego wydania. Udało się mi go natomiast zainstalować z interpreterem Pythona 3.6. Nię będziemy się jednak mocniej skupiać na nim, celujemy bowiem w narzędzie SQL Alchemy.

# Wprowadzenie do SQL Alchemy

Jak widać powyżej, narzędzie powyżej umożliwia komunikację z bazą danych. Jednak wszystkie otrzymane tą drogą dane są agregowane do pythonowych krotek. Oznacza to konieczność ich konwersji do bardziej dostosowanych typów.

## Podstawy SQL Achemy

Aby pracować z tym pakietem należy zdefiniować komponenty w 3 rodzajach

* Table - odpowiadające tabeli w bazie danych,
* Klasę pythona, odpowiadająca danym 
* mapper - odpowiadające odwzorowaniach pomiędzy tabelą a klasą pythona

Niezwykle pomocny okazały się tutaj materiały dotyczące współpracy SQL Alchemy z MySQL [tu](https://docs.sqlalchemy.org/en/latest/dialects/mysql.html)

Naszą pracę z SQL Alchemy rozpocznijmy od utworzenia i zainicjowania połączenia do bazy danych

Z uwagi na to, że do pracy z MySQL występują dwa wiodące biblioteki połączenie MySQLdb oraz PyMySQL tu wskazujemy za pomocą poniższego ciągu znaków połączenie którą kombinację chcemy zastosować.

In [3]:
from sqlalchemy import create_engine

user = 'sql_alchemy_test'
pasw = 'sql'
schema = 'sql_alchemy_test'
host = 'localhost'
port = '3306'

connection_string = 'mysql+pymysql://{0}:{1}@{3}:{4}/{2}'.format(user, pasw, schema, host, port)
engine = create_engine(connection_string, isolation_level='READ UNCOMMITTED')
connection_string

'mysql+pymysql://sql_alchemy_test:sql@localhost:3306/sql_alchemy_test'

Aby móc wchodzić w szeroką integrację z strukturami z bazy danych należy zdefiniować obiekty służące do reprezentowania naszych danych. Zatem utwórzmy klasę dla rekordów z tabeli Users

In [4]:
from sqlalchemy import Column, Integer, String
from sqlalchemy.ext.declarative import declarative_base

Base = declarative_base()


class Users(Base):
    __tablename__ = 'USERS'
    
    id = Column(Integer, primary_key=True)
    imię = Column(String(20))
    nazwisko = Column(String(20))
    email = Column(String(60))

Mając wytworzoną konfigurację obiektu dla naszych danych możemy rozpocząć pracę połączeniową

In [5]:
connection = engine.connect()

Teraz wykonajmy nasz poprzedni select dla danych

In [6]:
from sqlalchemy.sql import select

query = select([Users])

print(query)

SELECT "USERS".id, "USERS"."imię", "USERS".nazwisko, "USERS".email
FROM "USERS"

Wykonajmy naszę kwerendę

In [7]:
resultSet = connection.execute(query)
resultSet

In [8]:
for row in resultSet:
    print(row)
    print(type(row))

(1, 'Karol', 'Kowalski', 'karol.kowalski@localhost')
<class 'sqlalchemy.engine.result.RowProxy'>
(2, 'Jan', 'Kowalski', 'jan.kowalski@localhost')
<class 'sqlalchemy.engine.result.RowProxy'>
(3, 'Marek', 'Zegarek', 'marek.zegarek@localhost')
<class 'sqlalchemy.engine.result.RowProxy'>

Zapytanie można dodać jeszcze dokładniej np. pisząc

In [9]:
for row in connection.execute(query):
    print(row['imię'])

Karol
Jan
Marek

## Utworzenie nowej tabeli

SQL Alchemy pozwala nam łatwo generować struktury z poziomu kodu Pythona

[Tu](https://docs.sqlalchemy.org/en/latest/core/metadata.html) elementy dotyczące  Meta danychm która trzeba pierw zainicjować.

In [10]:
from sqlalchemy import MetaData

metadata = MetaData()
metadata.bind = engine

Dalej przeprowadźmy operację stworzenia nowej tabeli z danymi. Mało tego wykonajmy również jej połączenie za pomocą klucza obcego do innej.

In [11]:
from sqlalchemy import Table, Column
from sqlalchemy import Integer, String, ForeignKey


t = Table('nowa', metadata,
          Column('Id', Integer, primary_key=True),
          Column('Text', String(40), nullable=False))
t2 = Table('inne', metadata,
           Column('Id', Integer, primary_key=True),
           Column('id_nowa', Integer, ForeignKey('nowa.Id')))

t.create()

t2.create()

Po wykonaniu tej operacji łatwo sprawdzić, że odpowiednie struktury zostaly w bazie danych wygenerowane. Kolejne natomiast je usuną

In [12]:
t2.drop()
t.drop()

# Komendy DML - SQL Alchemy 

Dalej skupimy się na sposobach wyrażania komend DML języka SQL

## Podłączenie do struktur w bazie

Rozpocznijmy jednak od utworzenie podłączenia i zaczerpnięcia struktur z bazy danych. W szczególności zależy nam na tabeli USERS

In [13]:
from sqlalchemy.sql.schema import Table

metadata = MetaData()
metadata.reflect(bind=engine)
print(metadata.tables)

users: Table = metadata.tables['USERS']

immutabledict({'USERS': Table('USERS', MetaData(bind=None), Column('id', INTEGER(display_width=11), table=<USERS>, primary_key=True, nullable=False), Column('Imi\u0119', VARCHAR(charset='cp1250', collation='cp1250_polish_ci', length=20), table=<USERS>, nullable=False), Column('Nazwisko', VARCHAR(charset='cp1250', collation='cp1250_polish_ci', length=20), table=<USERS>, nullable=False), Column('Email', VARCHAR(charset='cp1250', collation='cp1250_polish_ci', length=60), table=<USERS>, nullable=False), schema=None)})

Obejrzymy sobie dokładnie różne składowe tak zaimportowanej tabeli.

In [14]:
for column in users.c:
    print(column)

USERS.id
USERS.Imię
USERS.Nazwisko
USERS.Email

In [15]:
for column in users.primary_key:
    print(column)

USERS.id

In [16]:
for column in users.foreign_key:
    print(column)

AttributeError: 'Table' object has no attribute 'foreign_key'

In [17]:
users.metadata

MetaData(bind=None)

Możemy również wydobyć konkrety o składowych kolumnach

In [18]:
print('Nazwa', users.c.Imię.name)
print('Typ', users.c.Imię.type)
print('Null?', users.c.Imię.nullable)
print('Klucz?', users.c.Imię.primary_key)

Nazwa Imię
Typ VARCHAR(20) CHARACTER SET cp1250 COLLATE cp1250_polish_ci
Null? False
Klucz? False

##  Insert

Zobaczmy z jaką łatwością możemy utworzyć komendę insert dla znanej struktury

In [19]:
print(users.insert())

INSERT INTO "USERS" (id, "Imię", "Nazwisko", "Email") VALUES (:id, :Imię, :Nazwisko, :Email)

Aby wywołać wstawienie do bazy rekordu wykonujemy poniższą komendę.

Jak widać również, wywołanie funkcji values spowodowało również zredukowanie naszej klauzuli wstawienia ograniczając ją jedynie do zdefiniowanych pól.

In [20]:
from sqlalchemy.sql.dml import Insert

insertion: Insert = users.insert().values(Imię='Jacek', Nazwisko='Placek', Email='jacek.placek@wp.pl')
print(insertion)
insertion.compile().params

INSERT INTO "USERS" ("Imię", "Nazwisko", "Email") VALUES (:Imię, :Nazwisko, :Email)

{'Email': 'jacek.placek@wp.pl', 'Imi\u0119': 'Jacek', 'Nazwisko': 'Placek'}

In [21]:
connection.execute(insertion)

## Komenda Select

Choć co prawda nie mieścimy się teraz ściśle w zakresie DML, ale potrzebujemy tego aby obserwować zmiany jakie dokonujemy. Podejrzyjmy naszą strukturę.

In [22]:
from sqlalchemy.sql import select

s = select([users])
result = connection.execute(s)
for row in result:
    print(row)

(1, 'Karol', 'Kowalski', 'karol.kowalski@localhost')
(2, 'Jan', 'Kowalski', 'jan.kowalski@localhost')
(3, 'Marek', 'Zegarek', 'marek.zegarek@localhost')
(5, 'Jacek', 'Placek', 'jacek.placek@wp.pl')

Zatem nasze ostatnie zmiany zostało odpowiednio odwzorowane w bazie danych.

Rozszerzmy nasze rozpoznanie w zakresie wypysiwania wartości. Możemy ograniczyć wypisywane wartości stosując następujący operator

In [23]:
result = connection.execute(s)
for row in result:
    print(row[users.c.Nazwisko])

Kowalski
Kowalski
Zegarek
Placek

Lub gdy chcemy wskazać kolejne pole w wyszukaniu

In [24]:
result = connection.execute(s)
for row in result:
    print(row[3])

karol.kowalski@localhost
jan.kowalski@localhost
marek.zegarek@localhost
jacek.placek@wp.pl

Naszą kwerendę można ograniczyć również na etapie zadawania zapytania

In [25]:
s = select([users.c.Imię, users.c.Email])
result = connection.execute(s)
for row in result:
    print(row)
print(s)

('Karol', 'karol.kowalski@localhost')
('Jan', 'jan.kowalski@localhost')
('Marek', 'marek.zegarek@localhost')
('Jacek', 'jacek.placek@wp.pl')
SELECT "USERS"."Imię", "USERS"."Email"
FROM "USERS"

### Klauzula WHERE

Naturalnym uzupełnienim komendy SELECT z klauzula WHERE określająca filtr zapytania.

In [26]:
from sqlalchemy.sql import Select
s: Select = select([users.c.Imię, users.c.Nazwisko, users.c.Email])
s = s.where(users.c.Nazwisko == 'Kowalski')
## lub w zwartej postaci
# select([users.c.Imię, users.c.Nazwisko, users.c.Email]).where(users.c.Nazwisko == 'Kowalski')
result = connection.execute(s)
for row in result:
    print(row)
print(s)

('Karol', 'Kowalski', 'karol.kowalski@localhost')
('Jan', 'Kowalski', 'jan.kowalski@localhost')
SELECT "USERS"."Imię", "USERS"."Nazwisko", "USERS"."Email"
FROM "USERS"
WHERE "USERS"."Nazwisko" = :Nazwisko_1

Oczywiście klauzula where może dotyczyć również kolumny której sam select nie zawiera

In [27]:
from sqlalchemy.sql import Select
s: Select = select([users.c.Imię, users.c.Nazwisko, users.c.Email]).where(users.c.id > 2)
result = connection.execute(s)
for row in result:
    print(row)
print(s)

('Marek', 'Zegarek', 'marek.zegarek@localhost')
('Jacek', 'Placek', 'jacek.placek@wp.pl')
SELECT "USERS"."Imię", "USERS"."Nazwisko", "USERS"."Email"
FROM "USERS"
WHERE "USERS".id > :id_1

### Operatory

Dodatkowo oczywiście do klauzuli where można dołączać różnego typu operatory, jak np. operatory logiczne

In [28]:
from sqlalchemy.sql import Select, and_, or_, not_
s: Select = select([users.c.Imię, users.c.Nazwisko, users.c.Email]).where( 
    or_(
        users.c.Imię.like('J%'),
        and_(
            users.c.Nazwisko == 'Kowalski',
            not_(users.c.Imię == 'Jan')
        )
    ))
result = connection.execute(s)
for row in result:
    print(row)
print(s)

('Karol', 'Kowalski', 'karol.kowalski@localhost')
('Jan', 'Kowalski', 'jan.kowalski@localhost')
('Jacek', 'Placek', 'jacek.placek@wp.pl')
SELECT "USERS"."Imię", "USERS"."Nazwisko", "USERS"."Email"
FROM "USERS"
WHERE "USERS"."Imię" LIKE :Imię_1 OR "USERS"."Nazwisko" = :Nazwisko_1 AND "USERS"."Imię" != :Imię_2

### Grupowanie i porządkowanie

Oczywiście w takim układzie wspierane jest również tworzenie grupowań, oraz agregacji na nich opartych.

In [29]:
s: Select = select([users])
s = s.order_by(users.c.Nazwisko)
result = connection.execute(s)
for row in result:
    print(row)
print(s)

(1, 'Karol', 'Kowalski', 'karol.kowalski@localhost')
(2, 'Jan', 'Kowalski', 'jan.kowalski@localhost')
(5, 'Jacek', 'Placek', 'jacek.placek@wp.pl')
(3, 'Marek', 'Zegarek', 'marek.zegarek@localhost')
SELECT "USERS".id, "USERS"."Imię", "USERS"."Nazwisko", "USERS"."Email"
FROM "USERS" ORDER BY "USERS"."Nazwisko"

Możemy ustalić kolejność porządkowań korzystajć z funkcji desc i asc

In [30]:
from sqlalchemy.sql import desc, asc
s: Select = select([users])
s = s.order_by(desc(users.c.Nazwisko))
result = connection.execute(s)
for row in result:
    print(row)
print(s)

(3, 'Marek', 'Zegarek', 'marek.zegarek@localhost')
(5, 'Jacek', 'Placek', 'jacek.placek@wp.pl')
(1, 'Karol', 'Kowalski', 'karol.kowalski@localhost')
(2, 'Jan', 'Kowalski', 'jan.kowalski@localhost')
SELECT "USERS".id, "USERS"."Imię", "USERS"."Nazwisko", "USERS"."Email"
FROM "USERS" ORDER BY "USERS"."Nazwisko" DESC

In [31]:
from sqlalchemy.sql import func
s: Select = select([users.c.Nazwisko, func.count(users.c.id).label('Ilość') ])
s = s.group_by(users.c.Nazwisko)
result = connection.execute(s)
for row in result:
    print(row)
print(s)

('Kowalski', 2)
('Placek', 1)
('Zegarek', 1)
SELECT "USERS"."Nazwisko", count("USERS".id) AS "Ilość"
FROM "USERS" GROUP BY "USERS"."Nazwisko"

## Update & Delete

Nie będzie zaskończeniem, że oczywiście zaimplementowane zostały również metody służące do aktualizacji wartości oraz usuwania rekordów z bazy

In [32]:
from sqlalchemy.sql import Update, Delete
up: Update = users.update().where(users.c.id == 4).values(Email='nowy@email.pl')
result = connection.execute(up)
print(up)
query: Select = select([users])
result = connection.execute(query)
for row in result:
    print(row)
print(s)

UPDATE "USERS" SET "Email"=:Email WHERE "USERS".id = :id_1
(1, 'Karol', 'Kowalski', 'karol.kowalski@localhost')
(2, 'Jan', 'Kowalski', 'jan.kowalski@localhost')
(3, 'Marek', 'Zegarek', 'marek.zegarek@localhost')
(5, 'Jacek', 'Placek', 'jacek.placek@wp.pl')
SELECT "USERS"."Nazwisko", count("USERS".id) AS "Ilość"
FROM "USERS" GROUP BY "USERS"."Nazwisko"

In [33]:
delete: Delete = users.delete().where(users.c.id == 4)
connection.execute(delete)
print(delete)
query: Select = select([users])
result = connection.execute(query)
for row in result:
    print(row)
print(s)

DELETE FROM "USERS" WHERE "USERS".id = :id_1
(1, 'Karol', 'Kowalski', 'karol.kowalski@localhost')
(2, 'Jan', 'Kowalski', 'jan.kowalski@localhost')
(3, 'Marek', 'Zegarek', 'marek.zegarek@localhost')
(5, 'Jacek', 'Placek', 'jacek.placek@wp.pl')
SELECT "USERS"."Nazwisko", count("USERS".id) AS "Ilość"
FROM "USERS" GROUP BY "USERS"."Nazwisko"

## Transakcje

Możliwe jest również nadawanie transakcyjności wykonywanym komendom, oczywiście o ile dany silnik wspiera taki rodzaj przetwarzania.

In [34]:
transakcja = connection.begin()
# tu znajdują się komendy transakcyjne, a w końc
transakcja.commit()

## Zamykanie połączenia

Mając na uwadze, że tym samym kończymy przetwarzania z naszą bazą danych MySQL, wykonajmy jeszcze zamknięcie naszego połączenia celem zwolnienia odpowiednich zasobów

In [35]:
connection.close()

## Inne komendy

Powyższy tutorial przedstawia jedynie same początki z pakietem SQL Alchemy. Możliwości samego pakietu są daleko dalej idące i można prowadzić ich rozpoznanie na własną rękę. Ta lekcja może być również rozszerzona w kolejnych latach.

# Lokalne bazy danych

Oprócz tego, że sqlalchemy pozwala nam pracować w połączeniu internetowym z wybranym silnikiem danych, to jest jeszcze jedna bardzo wygodna możliwość.
Wśród różnych systemów baz danych jest jeden który się dość istotnie wyróżnia SQLite - jest to bowiem baza danych w pliku. Ten rodzaj baz okazuje się szczególnie przydatny jeśli na potrzeby danej analizy chcemy lokalnie składować nasze struktury. Pokażemy jeszcze na zakończenie jak można wspólpracować z taką bazą danych z poziomu SQL Alchemy (przyda się aby zrobić zadania)

In [36]:
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import create_engine
 
Base = declarative_base()

sqlite = create_engine('sqlite:///sqllite_example.db')
Base.metadata.create_all(sqlite)  ## tworzy plik bazy danych, jeśli nie istnieje

sqlite_connection = sqlite.connect()

Mając ten silnk możemy wykonywać wszystkie pełnoprawne operacje SQL Alchemy, np. dodać interesujące nas tabele

In [37]:
from sqlalchemy import Table, Column, Integer, String, DateTime
from sqlalchemy import MetaData
from sqlalchemy.sql import func 
metadata = MetaData()
metadata.bind = sqlite

transakcje = Table('transakcje', metadata,
                   Column('id', Integer, primary_key=True),
                   Column('time', DateTime, default=func.Now(), nullable=False),
                   Column('name', String(30), nullable=True))
try: 
    transakcje.create()
except Exception:
    print('Must Exists')

Must Exists

In [38]:
from sqlalchemy.sql import Insert, Select, Delete

stmt: Insert = transakcje.insert().values(name='Przykładowa 1')
sqlite_connection.execute(stmt)

In [39]:
sqlite_connection.close()

# Zadania

## Zadanie 1

Utworzyć w pliku sqlite bazę danych w której znajdą się tabele 

Pracownik:

* id
* imie
* nazwisko
* id_dzial 
* id_umowa_obecna (odnośnik do obecnie działającej umowy)

Umowa:
* id
* od_kiedy
* do_kiedy
* kwota_brutto
* id_pracownik
* id_pracownik_hr (ślad po pracownik hr, który uzgodnił daną umowę, może być puste)

Dział

* id
* nazwa
* id_pracownik_kierownik (odnośnik do pracownik, który pełni funkcje kierownika działu)

## Zadanie 2

Wyposażyć powyższą bazę danych w odpowiednie klucze główne, klucze obce oraz ograniczenia

## Zadanie 3

Wprowadzić

* 2 działy z czego jeden HR
* 5 pracowników, jednego do HR jako jego kierownika, innego jako kierownika drugiego działu
* 5 umów pracowniczych bieżących oraz jedną umowę zakończoną. 

Uwaga - kolejność wprowadzania nie musi być zgodna z kolejnością powyższych podpunktów 

## Zadanie 4

Przeprowadzić kwerendy wykorzystujące

* wybranie podzbioru dwóch kolumn
* wykorzystanie klauzuli where z warunkiem and
* wybranie wszystkich pracownik w sposób posortowalny malejąco leksykalnie
* dokonanie pogrupowania pracowników względem działu
* wyznaczenie agregacji jako średniej kwoty brutto pracownika danego działu

## Zadanie 5

Usunąć wszystkie dane z utworzonych tabel. Następnie skasowanie struktur oraz pliku dyskowego.